<form class="form" action="{{ config.site.forms.newsletter }}">
    <div class="form__group required">
        <label class="form__label" for="email">Your Email</label>

        <div class="input-group">
            <input class="form__control" type="email" id="email" name="email" required placeholder=" ">
            <input class="button button-primary button--small" type="submit" value="Subscribe">
        </div>

        <span class="form__help">We will never use the contact information you submit for anything except delivering our newsletter.</span>
    </div>
</form>
