<form class="form form--newsletter" action="//foundation.us15.list-manage.com/subscribe/post?u=036bac2d4e3a3ea3de876a8dd&amp;id=8a21e3e9ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="form__group required">
        <label class="form__label" for="mce-EMAIL">Your Email</label>

        <div class="input-group">
            <input class="form__control" type="email" id="mce-EMAIL" name="EMAIL" required placeholder=" ">
            <input class="button button-primary button--small" type="submit" value="Subscribe">
        </div>

        <span class="form__help">We will never use the contact information you submit for anything except delivering our newsletter.</span>
    </div>
</form>
