<form class="form" action="{{ config.site.forms.contact }}">
    <div class="form__group required">
        <label class="form__label" for="name">Your Name</label>
        <input class="form__control" type="text" id="name" name="name" required placeholder=" ">
    </div>
    <div class="form__group required">
        <label class="form__label" for="email">Your Email</label>
        <input class="form__control" type="email" id="email" name="email" required placeholder=" ">
    </div>
    <div class="form__group required">
        <label class="form__label" for="comment">Your message</label>
        <textarea class="form__control" id="comment" name="comment" rows="2" required placeholder=" "></textarea>
    </div>
    <p class="form__group form__help">
        Fields marked with an <span class="required">*</span> are required.
    </p>
    <div class="form__group">
        <input class="button button-primary" type="submit" value="Submit">
    </div>
</form>
