.hero {
    background: $brand-03;
    padding: $spacer * 2;
    min-height: 100vh;

    &,
    .hero__title,
    .hero__action {
        color: #fff;
    }

    .menu--main {
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .menu__link {
        color: #fff;

        &:after {
            background: #fff;
        }
    }

    .logo {
        fill: #fff;
    }
}
