.icon {
    fill: $brand-01;
    stroke: none;
    width: $font-size-small;
    height: $font-size-small;
    vertical-align: baseline;
    margin-bottom: -.05rem;
}

.icon--sm {
    width: .5rem;
    height: .5rem;
}
