//
// All sections
//
.section {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media ($screen-sm) {
        padding-top: $spacer * 4;
        padding-bottom: $spacer * 4;
    }

    // handling long text, like URLs
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-rendering: optimizeLegibility;

    .row {
        width: 100%;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.section__header {
    margin-bottom: $spacer * 2;
}

.section__title {
    font-size: $font-size-h1;
    margin-bottom: $spacer;

    @media ($screen-sm) {
        margin-bottom: $spacer / 2;
    }
}

.section__description {
    font-size: $font-size-large;
    margin-bottom: 0;
}


//
// Section modifiers
//
$edge-height-sm: $spacer * 2;
$edge-height:    $spacer * 4;

.section--background {
    background: $brand-05;
    position: relative;
    margin-top: $edge-height-sm;
    margin-bottom: $edge-height-sm;

    @media ($screen-sm) {
        margin-top: $edge-height;
        margin-bottom: $edge-height;
    }

    &:before,
    &:after {
        content: '';
        width: 100%;
        height: $edge-height-sm;
        display: block;
        position: absolute;
        left: 0;
        background: $brand-05;

        @media ($screen-sm) {
            height: $edge-height;
        }
    }

    &:before {
        top: -($edge-height-sm);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    &:after {
        top: auto;
        bottom: -($edge-height-sm);
        clip-path: polygon(100% 0, 0 0, 0 100%);

        @media ($screen-sm) {
            bottom: -($edge-height);
        }
    }
}
