//
// Colors
//
$brand-01:                  #9b4258 !default;
$brand-02:                  #7dacbc !default;
$brand-03:                  #093749 !default;
$brand-04:                  #557f8d !default;
$brand-05:                  #eaf3f5 !default;
$brand-06:                  #444 !default;
$brand-07:                  #0e475d !default;

//
// Typography
//
$font-family-base:          'futura-pt', 'Futura PT', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-size-root:            20px !default;
$font-size-root-lg:         22px !default;
$line-height:               1.4 !default;
$spacer:                    1rem !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          500 !default;

$font-size-base:            1rem !default;
$font-size-large:           1.25rem !default;
$font-size-small:           .9rem !default;
$font-size-mini:            .7rem !default;

$font-size-h1:              2rem !default;
$font-size-h2:              1.7rem !default;
$font-size-h3:              1.4rem !default;
$font-size-h4:              1.3rem !default;
$font-size-h5:              $font-size-large !default;
$font-size-h6:              $font-size-base !default;

$headings-font-family:      inherit !default;
$headings-font-weight:      $font-weight-normal !default;
$headings-line-height:      1.1 !default;
$headings-color:            $brand-03 !default;

$text-color:                $brand-04 !default;
$link-color:                $brand-01 !default;

//
// Responsive breakpoints
//
$screen-sm-min:             40em !default;
$screen-md-min:             58em !default;
$screen-lg-min:             85em !default;

$screen-sm:                 'min-width: #{$screen-sm-min}';
$screen-md:                 'min-width: #{$screen-md-min}';
$screen-lg:                 'min-width: #{$screen-lg-min}';


//
// Buttons
//
$btn-font-family:                inherit;
$btn-font-weight:                $font-weight-bold !default;

$btn-padding-x:                  2rem !default;
$btn-padding-y:                  .5rem !default;

$btn-padding-x-sm:               1.5rem !default;
$btn-padding-y-sm:               .3rem !default;

$btn-padding-x-lg:               3rem !default;
$btn-padding-y-lg:               .7rem !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-01 !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               $brand-04 !default;

$btn-dark-color:                #fff !default;
$btn-dark-bg:                   $brand-03 !default;

$btn-link-disabled-color:        $brand-05 !default;

$btn-border-radius:              10rem !default;
