//
// Colors
//
$brand-01:                  #cd2d2d !default;
$brand-02:                  #779bc3 !default;
$brand-03:                  #201a16 !default;
$brand-04:                  #444 !default;
$brand-05:                  #636363 !default;
$brand-06:                  #444 !default;

//
// Typography
//
$font-family-base:          'futura-pt', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-monospace:     Menlo, Monaco, Consolas, 'Courier New', monospace !default;

$font-size-root:            18px !default;
$font-size-root-lg:         20px !default;
$line-height:               1.4 !default;
$spacer:                    2rem !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          600 !default;

$font-size-base:            1rem !default;
$font-size-large:           1.2rem !default;
$font-size-small:           .8rem !default;
$font-size-mini:            .7rem !default;

$font-size-h1:              2.5rem !default;
$font-size-h2:              2rem !default;
$font-size-h3:              1.7rem !default;
$font-size-h4:              1.4rem !default;
$font-size-h5:              $font-size-large !default;
$font-size-h6:              $font-size-base !default;

$headings-font-family:      inherit !default;
$headings-font-weight:      $font-weight-normal !default;
$headings-line-height:      inherit !default;
$headings-color:            $brand-03 !default;

$text-color:                $brand-05 !default;
$link-color:                $brand-01 !default;

//
// Responsive breakpoints
//
$screen-sm-min:             40em !default;
$screen-md-min:             58em !default;
$screen-lg-min:             85em !default;

$screen-sm:                 'min-width: #{$screen-sm-min}';
$screen-md:                 'min-width: #{$screen-md-min}';
$screen-lg:                 'min-width: #{$screen-lg-min}';
