.banner {
    display: block;
    box-shadow: none;
    height: 100%;
    background: $brand-01;
    padding-top: $spacer / 2;
    padding-bottom: $spacer / 2;

    &:hover,
    &:focus {
        background: #fff;

        .banner__title {
            opacity: 1;
            color: #141414;
        }

        .banner__logo {
            fill: #141414;
        }
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.banner__title {
    font-size: .7rem;
    margin: 0;
    color: #fff;

    @media ($screen-sm) {
        font-size: $font-size-small;
    }
}

.banner__logo {
    fill: #fff;
    width: 1rem;
    height: 1rem;
    margin-right: $spacer / 4;
    margin-bottom: -.2rem;
    display: inline-block;
}
