@import 'variables';

.feature {
    padding-top: $spacer;
    padding-bottom: $spacer;

    &:first-child {
        padding-top: $spacer * 2;
    }
}

.feature__image {
    margin: 0;
    background: $brand-05;
    padding: $spacer;
    padding-bottom: 0;
    border-radius: 1rem;
    min-height: 9rem;
    display: flex;
    align-items: flex-end;

    svg {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
    }
}

.feature__title {
    font-size: $font-size-h3;
    margin-bottom: $spacer / 2;
}

.actions {
    text-align: center;
    margin-top: $spacer * 2;

    .button:last-child {
        margin-left: $spacer * 2;
    }
}

.connect__title {
    font-size: $font-size-h3;
    margin-bottom: $spacer / 2;
}
