---
layout: base

front_page: true

css: page-front

redirect_from:
    - /foundation/
    - /foundation/articles/
    - /foundation/satzung/
    - /foundation/bylaws/
    - /docs/
    - /jobs/
    - /privacy/
    - /terms/
    - /faq/
    - /canary/
---

{% assign content = site.data.content-front %}

{% include oceanprotocol.html %}

<header class="hero section">

    {% include menu-main.html %}

    <div class="hero__content row">
        <hgroup>
            <div class="grid grid--full grid-medium--columns grid--gutters">
                <div class="grid__col grid__col--4">
                    <h1 class="hero__title">{{ content.hero.title }}</h1>
                    <h2 class="hero__description">{{ content.hero.description }}</h2>
                </div>
            </div>
        </hgroup>
    </div>

    <div class="starbase">
        <div class="starbase-wrap">
            <div class="row">
                <svg class="starbase__item starbase__item--stones" width="234" height="80">
                    <use xlink:href="/assets/img/sprite.svg#starbase-stones"></use>
                </svg>

                <svg class="starbase__item starbase__item--mooncycle" width="59" height="31">
                    <use xlink:href="/assets/img/sprite.svg#starbase-mooncycle"></use>
                </svg>

                <svg class="starbase__item starbase__item--towers" width="673" height="389">
                    <use xlink:href="/assets/img/sprite.svg#starbase-towers"></use>
                </svg>
            </div>
        </div>
    </div>

    <svg class="starbase-rocket" width="49" height="176">
        <use xlink:href="/assets/img/sprite.svg#starbase-rocket"></use>
    </svg>
    <svg class="starbase-rocket" width="49" height="176">
        <use xlink:href="/assets/img/sprite.svg#starbase-rocket"></use>
    </svg>
</header>


<section class="section section--farewell section--background" id="farewell">
    <div class="row row--narrow">
        <header class="section__header">
            <h1 class="section__title">{{ content.farewell.title }}</h1>
        </header>

        <div class="lead">
            {{ content.farewell.text | markdownify }}
        </div>

    </div>
</section>

<section class="section section--connect">
    <div class="row">
        <div class="connect connect--blog">
            <div class="articles">
                <div class="grid grid--full grid-small--half grid-medium--fourth grid--gutters">
                    {% for article in site.articles limit: 4 %}
                        <div class="grid__col">
                            <a class="article" href="{{ article.link }}">
                                <figure class="article__image" style="background-image: url('{{ article.image | escape | strip_html }}')"></figure>
                                <h1 class="article__title">{{ article.title }}</h1>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <footer class="section__actions">
                    <a href="https://medium.com/ipdb-blog" class="button button--text">IPDB Blog</a>
                </footer>
            </div>
        </div>

    </div>
</section>
